<age-box id="age-verify" class="popup" 
>
    
  <div class="popup-content">


    <div class="popup-text" >


        <h4 class="popup-title h3">Are You 21 or Over?</h4>

        <div class="rte">You must be of legal drinking age to purchase Maivino.</div>
        <div class="age-button">
          <a href="#" id="age-yes-button" class="button button--solid">Yes</a> <a class="button" href="https://www.youtube.com/watch?v=dBNrmmwZKOE">No</a>
        </div>
    </div>



  </div>

  <div class="popup-background" data-close></div>

</age-box>